@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img {
  img {
    width: 100%;
    height: 550px;
  }
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 10px auto;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
}

.content-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(/files/images/bg-pattern-desktop.svg);
  padding: 50px;
}

.title {
  img {
    width: 150px;
    height: 30px;
  }
}

.title-2 {
  font-family: "Josefin Sans";
  font-size: $base-font-size * 2;
  text-transform: uppercase;
  letter-spacing: 10px;
  h3 {
    color: $primary;
    font-weight: 300 !important;
  }
  h2 {
    color: $thrid;
    font-weight: 600;
  }
}

.paragraph {
  width: 450px;
  p {
    font-family: "Josefin Sans";
    color: $primary;
    line-height: 30px;
  }
}

.email {
  border: 1px solid black;
  position: relative;
  input {
    width: 80%;
    height: 50px;
    border-radius: 40px;
    outline: none;
    border: 1px solid $secondary;
    padding: 20px;
  }
  button {
    // background: rgb(255, 209, 178);
    background: linear-gradient(
      135deg,
      rgb(236, 229, 229) 9%,
      rgb(154, 253, 126) 100%
    );
    height: 50px;
    width: 90px;
    border: 0;
    position: absolute;
    top: 0;
    right: 50px;
    border-radius: 40px;
    transition: all 0.3s ease;
  }
  button:hover {
    box-shadow: -2px 27px 80px 17px rgba(0, 0, 0, 0.2);
  }
}
