@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img {
  img {
    width: 100%;
    height: 550px;
  }
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 10px auto;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid rgba(118, 117, 117, 0.3);
}

.content-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(/files/images/bg-pattern-desktop.svg);
  padding: 50px;
}

.title {
  img {
    width: 150px;
    height: 30px;
  }
}

.title-2 {
  font-family: "Josefin Sans";
  font-size: $base-font-size * 2;
  text-transform: uppercase;
  letter-spacing: 10px;
  h3 {
    color: $primary;
    font-weight: 300 !important;
  }
  h2 {
    color: $thrid;
    font-weight: 600;
  }
}

.paragraph {
  width: 450px;
  p {
    font-family: "Josefin Sans";
    color: $primary;
    line-height: 30px;
  }
}

.email {
  //   border: 1px solid black;
  position: relative;
  input {
    width: 80%;
    height: 50px;
    border-radius: 40px;
    outline: none;
    border: 1px solid $secondary;
    padding: 20px;
  }
  button {
    // background: rgb(255, 209, 178);
    background: linear-gradient(
      135deg,
      rgb(240, 237, 237) 9%,
      rgb(240, 150, 150) 100%
    );
    height: 50px;
    width: 90px;
    border: 0;
    position: absolute;
    top: 0;
    right: 50px;
    border-radius: 40px;
    transition: all 0.3s ease;
  }
  button:hover {
    box-shadow: -2px 27px 80px 17px rgba(240, 150, 150, 0.3);
  }
}

.waring {
  font-family: "Josefin Sans";
  padding: 10px 20px;
  color: $secondary;
}

.hidden {
  opacity: 0;
}

.unhidden {
  opacity: 1;
}

input {
  font-family: "Josefin Sans";
  color: gray;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    .content-part {
      text-align: center;
      .title {
        padding: 15px;
      }
    }
    p {
      padding: 20px;
    }
    input {
      width: 350px;
    }
    .img {
      img {
        margin-top: 100px;
        width: 400px;
        height: 400px;
      }
    }
  }
}
